<ion-view   id="page7" title="Graph">
    <ion-content class="has-header" padding="true"  >
        
      <!--canvas id="line" class="chart chart-line" chart-data="data"
      chart-labels="labels" chart-series="series" chart-options="options"
      chart-dataset-override="datasetOverride" chart-click="onClick"
      style="width: 90%; height: 80%">
    </canvas-->
    <div id="container"
    style="min-width: 310px;
           height: 400px;
           margin: 0 auto">
    </div>

      <!--div class="list">
        <button style="width: 100%;" ng-click="notify()"
                class="button button-large button-clear flat
                         waves-effect waves-button waves-light
                         icon ion-heart pull-right text-white">
          Notify
        </button>
      </div-->


    </ion-content>
</ion-view>
