<ion-view style="" class=" " id="page9" title="Places of Interest">
    <ion-content class="has-header" padding="false">

        <div ng-repeat="item in topics" style=" margin-bottom: 0;" class="list condensed-space no-padding">

          <div class="card dark-bg in" >
            <a class="item clear-bg item-bg-image waves-button waves-light">
              <h2>{{item.topic}}</h2>
              </br>
              <p>{{item.info}}</p>
              <div class="button-bar" style="bottom: 0;position: absolute;right: 0;">
                <button ng-click="itemInfo(item)" style="color:white;" class="button button-clear flat waves-effect waves-button waves-light icon ion-ios-information pull-right text-white"> INFO</button>
                <button ng-click="submitHeadCount(item)" style="color:white;" class="button button-clear flat waves-effect waves-button waves-light icon ion-clipboard pull-right text-white"> REPORT</button>
                <button ng-click="view_graph(item.topic)" style="color:white;" class="button button-clear flat waves-effect waves-button waves-light icon ion-ios-clock pull-right text-white"> TIME</button>
              </div>
              <img ng-src="{{&apos;img/&apos;+ item.img +&apos;&apos;}}"   >
            </a>
          </div>

      </div>

    </ion-content>

  <button ng-click="addPlaces()" class="button button-fab button-fab-bottom-right button-calm icon ion-plus waves-effect waves-button waves-light"></button>

</ion-view>
